:root {
  --black-color: #494942;
  --blue-color: #719caa;
  --secondary-color: linear-gradient(45deg, #70a9a9 0%, #719caa 74%);
  --white-color: #fffd;
  --background: #f2f0ec;
  --shadow: 2px 2px 3px #49494233;
}

* {
  box-sizing: border-box;
  position: relative;
}

::selection {
  background: #719caa88;
}

html {
  box-shadow: inset 0px 0px 10rem rgba(0, 0, 0, 0.15);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Montserrat, sans-serif;
  font-weight: 400;
  color: var(--black-color);
  line-height: 1.6rem;
  letter-spacing: 0.2px;
  font-size: 1rem;
  background: var(--background);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
  font-weight: 800;
  line-height: 2rem;
  margin: 0 0 1rem 0;
}

h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
}

p {
  margin: 0 0 1rem 0;
}

header,
footer {
  color: var(--background);
  background: var(--secondary-color);
  background-blend-mode: multiply;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.15), 2px 2px 4px #49494233;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 10vw;
  position: relative;
  top: 0;
  text-align: center;
  display: grid;
  letter-spacing: 1px;
}

header {
  border-top: 5px solid var(--black-color);
}

footer {
  border-bottom: 5px solid var(--black-color);
  color: var(--white-color);
}

/* logo block */
.logo-block {
  display: none;
}

/* 100% width sections */
.full {
  width: 100%;
  padding: 1rem;
}

/* grid setup for mobile-first design */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

/*
.grid div {
  padding: 0rem;
}
*/

.topline {
  border-top: 1px solid var(--black-color);
  padding-top: 1rem;
}

.bottomline {
  border-bottom: 1px solid var(--black-color);
  padding-bottom: 1rem;
}

.outline {
  border: 1px solid var(--black-color);
  padding: 1rem;
}

a {
  background: linear-gradient(0deg, var(--blue-color), var(--blue-color));
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 6px 1px;
  color: var(--blue-color);
  font-weight: 600;
  text-decoration: none;
  transition: background-size 0.3s, color 0.3s;
  padding: 3px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

a:hover {
  background-size: 4px 50px;
  color: var(--white-color);
}

.color-box a {
  background: linear-gradient(0deg, var(--black-color), var(--black-color));
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 6px 1px;
  color: var(--black-color);
  font-weight: 600;
  text-decoration: none;
  transition: background-size 0.3s, color 0.3s;
  padding: 3px;
}

.color-box a:hover {
  background-size: 4px 50px;
  color: var(--white-color);
  box-shadow: var(--shadow);
}

strong {
  font-weight: 800;
}

hr {
  margin: 2rem;
  border-bottom: 1px var(--black-color);
  height: 0;
}

figure,
img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

img {
  box-shadow: var(--shadow);
}

.no-shadow {
  box-shadow: none;
}

figcaption {
  text-align: center;
  font-weight: 300;
  color: var(--black-color);
  padding-bottom: 1rem;
}

.imgLeft {
  float: left;
  width: 30%;
  margin-right: 2rem;
}

.imgRight {
  float: right;
  width: 30%;
  margin-left: 2rem;
}

blockquote {
  padding: 2rem;
  padding: 2rem;
  margin: 2rem;
  background: var(--secondary-color);
  background-blend-mode: multiply;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.15), 2px 2px 3px #49494233;
}

.block {
  display: block;
  background: var(--black-color);
  color: var(--white-color);
  text-align: center;
  padding: 2rem;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.grade {
  list-style-type: none;
}

.italic {
  font-style: italic;
}

.late {
  margin-left: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  padding-left: 1em;
}

li {
  margin-bottom: 0.5rem;
}

ul li::before {
  content: "\02043";
  color: var(--secondary-color);
  font-size: 1.5em;
  display: inline-block;
  width: 0.8em;
}

.custom-counter {
  margin-left: 2rem;
  padding: 0;
  list-style-type: none;
}

.custom-counter li {
  counter-increment: step-counter;
  margin-bottom: 1rem;
}

.custom-counter li::before {
  content: counter(step-counter);
  margin-right: 1rem;
  background: var(--secondary-color);
  background-blend-mode: multiply;
  box-shadow: var(--shadow);
  color: var(--white-color);
  font-weight: 800;
  padding: 3px 8px;
}

.color-box {
  background: var(--secondary-color);
  background-blend-mode: multiply;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.15), 2px 2px 3px #49494233;
  color: var(--background);
  padding: 2rem !important;
}

.black-box {
  background: var(--black-color);
  background-blend-mode: multiply;
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.15), 2px 2px 3px #49494233;
  color: var(--background);
  padding: 2rem !important;
}

.white-box {
  background: var(--white-color);
  background-blend-mode: multiply;
  box-shadow: var(--shadow);
  padding: 2rem !important;
}

.color-box h1,
.black-box h1,
.color-box figcaption,
.black-box figcaption {
  color: var(--background);
}

iframe {
  max-width: 100%;
  margin: 0 auto;
}

.right,
.left {
  max-width: 80%;
  display: flex;
  margin: 0 auto;
}

.left::after,
.right::after {
  content: "";
  clear: both;
  display: table;
}

.padded {
  padding: 2rem;
  margin: 1rem 0;
}

.columns {
  column-count: 1;
  column-gap: 0;
}

/* gallery grid layout */
.gallery a {
  background: none !important;
}

.gallery a:hover {
  box-shadow: none;
}

.auto-grid {
  --auto-grid-min-size: 18rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 0rem;
  pointer-events: none;
}

.auto-grid ul {
  list-style-type: none;
}

.auto-grid li:before {
  content: "";
}

.auto-grid > * {
  cursor: default;
  pointer-events: auto;
  transition: 300ms opacity, 300ms transform;
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.auto-grid:hover > * {
  opacity: 0.4;
}

.auto-grid:hover > *:hover {
  transform: scale(1.1);
  opacity: 1;
  z-index: 10;
}

.auto-grid img {
  transition: box-shadow 300ms;
}

.auto-grid img:hover {
  box-shadow: var(--shadow);
}

/* lightbox popup for images */
.JesterBox div {
  visibility: hidden;
  position: fixed;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  z-index: 75;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.JesterBox div:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 74;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s ease-out;
}

.JesterBox div img {
  position: relative;
  z-index: 77;
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  margin-left: -9999px;
  opacity: 0;
  transition-property: all, opacity;
  transition-duration: 0.5s, 0.2s;
  transition-timing-function: ease-in-out, ease-out;
}

.JesterBox div:target {
  visibility: visible;
  opacity: 1;
}

.JesterBox div:target:before {
  background-color: rgba(0, 0, 0, 0.8);
}

.JesterBox div:target img {
  margin-left: 0px;
  margin: auto;
  opacity: 1;
}

.hideSmall {
  display: none;
}

/* column layout for larger screens */
@media screen and (min-width: 45em) {
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .col-full {
    grid-column: 1 /7;
  }

  .col-double-left {
    grid-column: 1 / 5;
  }

  .col-double-right {
    grid-column: 3 / 7;
  }

  .col-half-left {
    grid-column: 1 /4;
  }

  .col-half-right {
    grid-column: 4 / 7;
  }

  .col-single-left {
    grid-column: 1 / 3;
  }

  .col-single-mid {
    grid-column: 3 / 5;
  }

  .col-single-right {
    grid-column: 5 / 7;
  }

  .logo-block {
    display: block;
    background: var(--black-color);
    color: var(--white-color);
    text-align: center;
    padding: 1rem;
    padding-bottom: 1.5rem;
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.15);
    max-width: 80%;
    width: 12em;
    letter-spacing: 1px;
    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
  }

  .logo-block * {
    margin: 0;
    max-width: 100%;
  }

  .left {
    float: left;
    max-width: 35%;
    margin-right: 1rem;
  }

  .right {
    float: right;
    max-width: 35%;
    margin-left: 1rem;
  }

  .columns {
    column-count: 2;
    column-gap: 1rem;
  }

  .image {
    padding: 0 !important;
  }

  .hideSmall {
    display: inherit;
  }
}
